*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*Desafio nivel agua*/
#nivel-agua{
    background-color: darkgreen;
    padding: 10px;
    display: none;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nivel-agua{
    width: 200px;
    height: 300px;
    background-color: antiquewhite;
    margin: 10px;
}

/*Desafio nivel danoninho*/

#nivel-danoninho{
    background-color: antiquewhite;
    padding: 10px;
}

#cabecalho{
    background-color: chocolate;
    height: 30px;
}
#conteudo-principal{
    background-color: darkgray;
    padding: 0px;
    display: flex;
}
.nivel-danoninho{
    background-color: chocolate;
    width: 50%;
    height: 100px;
    margin: 10px 0px 0px 0px;
}

#div1{
    margin-right: 10px;
}