*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#nivel-agua{
    background-color: darkgreen;
    padding: 10px;
    display: flex;

    justify-content: center;
    align-items: center;
}

.nivel-agua{
    width: 200px;
    height: 300px;
    background-color: antiquewhite;
    margin: 10px;
}